.card-img{
    height: 200px;
    object-fit: contain;
    margin-top: 0;
}
.card{
    height: 300px;
    border: none;
}
.card-title{
    margin-top: 25px;
}
.card-body{
    padding: 2px;
}

.info{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.btn, .btn:active, .btn:visited{
    width: 77px;
    margin-top: 0;
    background-color: #0b4f6c;
}


.btn:hover{
    background-color: white;
    color: #0b4f6c;
    border: 1px solid #0b4f6c;
}
.loading{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}

.disabledBtn{
    background-color: grey;
    color: white;
}
.detailsCard{
    position: relative;
}
.close{
    position: absolute;
    right:5px;
    top: 5px;
    border: 2px solid grey;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}
.close:hover{
    height: 39px;
    width: 39px;  
}